extends layout

block append scripts
  script(src="/javascripts/index.js")

block content
  .recipeContainer
    .recipeBase
      h2(id="recipeBaseTitle")
        | Base
      
      .recipeBaseItem
        label Nicotine Base
        input(
          type='number'
          name='inputNicotineBase'
          value='100'
          min='0'
          step="any"
          data-bind='value: nicotineBase'
        ) 
        | mg/ml
      .recipeBaseItem
        label Target Nicotine
        input(
          type='number'
          name='inputTargetNicotine'
          value='3'
          min='0'
          step="any"
          data-bind='value: targetNicotine'
        ) 
        | mg/ml
      .recipeBaseItem
        label Batch Size
        input(
          type='number'
          name='inputBatchSize'
          value='10'
          min='0'
          step="any"
          data-bind='value: batchSize'
        ) 
        | ml
      
    .recipeFlavoring
      h2(id="recipeFlavoringTitle")
        | Flavorings
      
      span(
        id="recipeFlavoringNoFlavors"
        data-bind="text: noFlavors"
      )


      .recipeFlavorsContainer(
        data-bind="foreach: flavors"
      )
        .recipeFlavor
          label Name
          input(
            type="text"
            class="recipeFlavorName"
            data-bind="value: name, attr: {placeholder: index}"
          )
          label Amount
          input(
            type="number"
            value="0"
            min="0"
            max="100"
            step="any"
            data-bind="value: percent"
          )
          | %

      button(
        id="recipeFlavoringAdd"
        data-bind="click: addFlavor"
      ) Add

    hr

    .recipeResults
      .recipeResultsItem
        | Nicotine Solution&nbsp;
        span(
          data-bind="text: resultNicotineSolutionML"
        )
        | ml&nbsp;
        span(
          data-bind="text: resultNicotineSolutionPercent"
        )
        | %
      .recipeResultsItem
        | VG&nbsp;
        span(
          data-bind="text: resultVGML"
        )
        | ml&nbsp;
        span(
          data-bind="text: resultVGPercent"
        )
        | %
      .recipeResultsItem(
        data-bind="if: flavors().length > 0"
      )
        | Flavors&nbsp;
        span(
          data-bind="text: resultFlavorsML"
        )
        | ml&nbsp;
        span(
          data-bind="text: resultFlavorsPercent"
        )
        | %
      
      .recipeResultsFlavoringsContainer(
        data-bind="foreach: flavors"
      )
        .recipeResultsItem
          span
            span(
              data-bind="if: name().length > 0"
            )
              span(
                data-bind="text: name"
              )
            span(
              data-bind="if: name().length == 0"
            )
              span(
                data-bind="text: index"
              )
          | &nbsp;
          span(
            data-bind="text: ml"
          )
          | ml&nbsp;
          span(
            data-bind="text: percent"
          )
          | %
