extends layout

block append scripts
  script(src="/javascripts/index.js")

block content
  .recipeContainer
    input(
      class="recipeName"
      type="text"
      placeholder="Recipe Name"
      data-bind="value: recipeName, valueUpdate: ['input', 'afterkeydown']"
    )

  .recipeContainer
    .recipeBase
      #recipeBaseTitle.recipeSubTitle
        | Base
      
      .recipeBaseName
        | Nicotine Base
      .recipeBaseAmount
        input(
          type='number'
          name='inputNicotineBase'
          value='100'
          min='0'
          step="any"
          data-bind="value: nicotineBase, valueUpdate: ['input', 'afterkeydown']"
        )
      .recipeBaseType
        | mg/ml
      
      .recipeBaseName
        | Target Nicotine
      .recipeBaseAmount
        input(
          type='number'
          name='inputTargetNicotine'
          value='3'
          min='0'
          step="any"
          data-bind="value: targetNicotine, valueUpdate: ['input', 'afterkeydown']"
        )
      .recipeBaseType 
        | mg/ml

      .recipeBaseName
        | VG Ratio
      .recipeBaseAmount
        input(
          type="number"
          name="inputVGAmount"
          value="70"
          min="0"
          max="100"
          step="any"
          data-bind="value: vgRatio, valueUpdate: ['input', 'afterkeydown']"
        )
      .recipeBaseType
        | %
      
      .recipeBaseName
        | PG Ratio
      .recipeBaseAmount
        input(
          type="number"
          name="inputPGAmount"
          value="30"
          min="0"
          max="100"
          step="any"
          data-bind="value: pgRatio, valueUpdate: ['input', 'afterkeydown']"
        )
      .recipeBaseType
        | %
      
      .recipeBaseName
        | Batch Size
      .recipeBaseAmount
        input(
          type="number"
          name="inputBatchSize"
          value="10"
          min="0"
          step="any"
          data-bind="value: batchSize, valueUpdate: ['input', 'afterkeydown']"
        ) 
      .recipeBaseType
        | ml

  .recipeContainer  
    .recipeFlavoring
      #recipeFlavoringTitle.recipeSubTitle
        | Flavorings
      
      #recipeFlavoringNoFlavors(
        data-bind="if: noFlavors"
      )
        | No Flavors!
        br
        | Add one with the button below

      .recipeFlavorsHeadingsContainer(
        data-bind="ifnot: noFlavors"
      )
        .recipeFlavorsHeading
          | Name
        .recipeFlavorsHeading
          | Amount

      .recipeFlavorsContainer(
        data-bind="foreach: flavors"
      )
        .recipeFlavorName
          input(
            type="text"
            data-bind="value: name, attr: {placeholder: index}, valueUpdate: ['input', 'afterkeydown']"
          )
        .recipeFlavorAmount
          input(
            type="number"
            value="0"
            min="0"
            max="100"
            step="any"
            data-bind="value: percent, valueUpdate: ['input', 'afterkeydown']"
          )
          .recipeFlavorAmountPercent
            | %
          .recipeFlavorRemove
            button(
              data-bind="click: removeFlavor"
            ) X

      button(
        id="recipeFlavoringAdd"
        data-bind="click: addFlavor"
      ) Add

  .recipeContainer
    .recipeResults
      #recipeResultsTitle.recipeSubTitle
        | Results
        span(
          data-bind="if: recipeName().length > 0"
        )
          span(
            data-bind="text: ' - ' + recipeName()"
          )

      .recipeResultsHeading
        | Name
      .recipeResultsHeading
        | ml
      .recipeResultsHeading
        | Percent

      .recipeResultName.recipeResultBaseTotal
        | Base Total
      .recipeResultML.recipeResultBaseTotal(
        data-bind="text: resultBaseML"
      )
      .recipeResultMLSymbol.recipeResultBaseTotal
        | ml
      .recipeResultPercent.recipeResultBaseTotal
        span(
          data-bind="text: resultBasePercent"
        )
        | %

      .recipeResultName
        | Nicotine Solution
      .recipeResultML
        span(
          data-bind="text: resultNicotineSolutionML"
        )
      .recipeResultMLSymbol
        | ml
      .recipeResultPercent
        span(
          data-bind="text: resultNicotineSolutionPercent"
        )
        | %

      .recipeResultName
        | VG
      .recipeResultML
        span(
          data-bind="text: resultVGML"
        )
      .recipeResultMLSymbol
        | ml
      .recipeResultPercent
        span(
          data-bind="text: resultVGPercent"
        )
        | %
      
      .recipeResultName
        | PG
      .recipeResultML
        span(
          data-bind="text: resultPGML"
        )
      .recipeResultMLSymbol
        | ml
      .recipeResultPercent
        span(
          data-bind="text: resultPGPercent"
        )
        | %

      .recipeResultName.recipeResultFlavorTotal(
        data-bind="if: flavors().length > 0"
      )
        | Flavor Total
      .recipeResultML.recipeResultFlavorTotal(
        data-bind="if: flavors().length > 0"
      )
        span(
          data-bind="text: resultFlavorsML"
        )
      .recipeResultMLSymbol.recipeResultFlavorTotal(
        data-bind="if: flavors().length > 0"
      )
        | ml
      .recipeResultPercent.recipeResultFlavorTotal(
        data-bind="if: flavors().length > 0"
      )
        span(
          data-bind="text: resultFlavorsPercent"
        )
        | %
      
      .recipeResultsFlavoringsContainer(
        data-bind="foreach: flavors"
      )
        .recipeResultName
          span(
            data-bind="if: name().length > 0"
          )
            span(
              data-bind="text: name"
            )
          span(
            data-bind="if: name().length == 0"
          )
            span(
              data-bind="text: index"
            )
        .recipeResultML
          span(
            data-bind="text: ml"
          )
        .recipeResultMLSymbol
          | ml
        .recipeResultPercent
          span(
            data-bind="text: percentParsed"
          )
          | %
  .recipeContainer
    #optionsContainer
      button(
        id="saveRecipe"
        data-bind="click: saveRecipe"
      ) Save

      button(
        id="resetRecipe"
        data-bind="click: resetRecipe"
      ) Reset
    
